<div class="container-fluid filter-div">
    <!-- Collapse Button -->
    <button style="background-color: #fe424d;" class="btn btn-danger d-lg-none mb-3" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
        Filters
    </button>

    <!-- Collapsible Filters -->
    <div class="collapse d-lg-block" id="collapseExample">
        <div class="filters">
            <a href="/listings/category?category=top-cities" class="anchor-filter">
                <div class="filter top-cities">
                    <div><i class="fa-solid fa-city"></i></div>
                    <p>Top cities</p>
                </div>
            </a>
            <a href="/listings/category?category=amazing-views" class="anchor-filter">
                <div class="filter amazing-views">
                    <div><i class="fa-solid fa-tree-city"></i></div>
                    <p>Amazing Views</p>
                </div>
            </a>
            <a href="/listings/category?category=tropical" class="anchor-filter">
                <div class="filter tropical">
                    <div><i class="fa-solid fa-tree"></i></div>
                    <p>Tropical</p>
                </div>
            </a>
            <a href="/listings/category?category=beach" class="anchor-filter">
                <div class="filter beach">
                    <div><i class="fa-solid fa-umbrella-beach"></i></div>
                    <p>Beach</p>
                </div>
            </a>
            <a href="/listings/category?category=camping" class="anchor-filter">
                <div class="filter camping">
                    <div><i class="fa-solid fa-campground"></i></div>
                    <p>Camping</p>
                </div>
            </a>
            <a href="/listings/category?category=mansions" class="anchor-filter">
                <div class="filter mansions">
                    <div><i class="fa-solid fa-house-chimney-window"></i></div>
                    <p>Mansions</p>
                </div>
            </a>
            <a href="/listings/category?category=forests" class="anchor-filter">
                <div class="filter forests">
                    <div><i class="fa-brands fa-pagelines"></i></div>
                    <p>Forests</p>
                </div>
            </a>
            <a href="/listings/category?category=countryside" class="anchor-filter">
                <div class="filter countryside">
                    <div><i class="fa-solid fa-cow"></i></div>
                    <p>Countryside</p>
                </div>
            </a>
            <a href="/listings/category?category=snowy-areas" class="anchor-filter">
                <div class="filter snowy-areas">
                    <div><i class="fa-solid fa-snowflake"></i></div>
                    <p>Snowy Areas</p>
                </div>
            </a>
            <a href="/listings/category?category=mountains" class="anchor-filter">
                <div class="filter mountains">
                    <div><i class="fa-solid fa-mountain"></i></div>
                    <p>Mountains</p>
                </div>
            </a>

            <div class="toggle-btn">
                <div class="form-check form-switch form-check-reverse">
                    <input class="form-check-input" type="checkbox" id="flexSwitchCheckReverse">
                    <label class="form-check-label" for="flexSwitchCheckReverse">Display total before taxes</label>
                </div>
            </div>
            

        </div>


    </div>


</div>