<% layout("/layouts/boilerplate") %>



    <!-- <form action="/listings/new" method="get">
        <button type="submit">Create New Listings</button> <br>
    </form> -->

    <!-- <h3>All Listings</h3> -->

    <div class="row row-cols-lg-3 row-cols-md-2 row-cols-sm-1">

        <% for(let listing of categoryListings){ %>

            <a href="/listings/<%= listing._id %>" class="listing-link">
                <div class="card listing-card col">
                    <img class="card-img-top" src="<%= listing.image.url%>" alt="Card image cap">

                    <div class="card-img-overlay"></div>

                    <div class="card-body">
                      <p class="card-text"> 
                       <b><%= listing.title %></b>  <br>
                       &#8360; <%= listing.price.toLocaleString("en-IN") %>
                       <span class="toggle-tax"><i><b>+18% GST</b> </i> </span>
                      </p>
                    </div>
                </div>
            </a>
        <% } %>

    </div>